footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

footer p {
    color: black;
    font-family: 'Kollektif', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
}

header img {
    width: 20vw;
    height: 10vh;
}

header h1 {
    font-family: 'Kollektif', sans-serif;
    font-size: 2.5vh;
    color: #E66111;
}

.grid {
    display: grid;
    grid-template-areas: 1fr 500px 1fr;
    grid-template-rows: 100px 200px;
    place-items: center;
    gap: 20px;
    background-color: #EFEFEF;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        'camera camera camera camera camera camera'
        'modes modes modes sensors sensors sensors';
    gap: 10px;
    background-color: #EFEFEF;
}

.module-camera { grid-area: camera; }
.module-sensors { grid-area: sensors; }
.module-modes {
    grid-area: modes;
    width: fit-content;
}

h2 {
    font-family: 'Kollektif', sans-serif;
    font-size: 2.5vh;
    color: #E66111;
}

.btn-deactivated {
    background-color: #ff0000;
    color: white;
    font-family: 'Kollektif', sans-serif;
    font-size: 1.5vh;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.btn-activated {
    background-color: #00ff00;
    color: white;
    font-family: 'Kollektif', sans-serif;
    font-size: 1.5vh;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.btn:hover {
    background-color: #e66111;
    color: white;
    font-family: 'Kollektif', sans-serif;
    font-size: 1.5vh;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
